# Node和NPM
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# 编译输出
/dist/
/build/
/.next/
/out/
/.nuxt/

# IDE/编辑器相关
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 系统或编译生成文件
.DS_Store
Thumbs.db
.cache/
logs/
*.log

# 配置文件
.env
.env.local
.env.*.local

# 其他
*.bak
*.orig
